/* Center the login form on the page */
.login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Style the login form */
.login-form {
  border: 1px solid #ccc;
  padding: 5em;
  border-radius: 1em;
}

/* Style the form inputs */
.login-form label {
  display: block;
  margin-bottom: 1em;
}

.login-form input {
  display: block;
  width: 100%;
  padding: 1em;
  margin-bottom: 2em;
  border: 1px solid #ccc;
  border-radius: 1em;
}

.login-form button {
  display: block;
  background-color: #007bff;
  color: #fff;
  padding: 1em 2em;
  border: none;
  border-radius: 1em;
}

.login-form button:hover {
  background-color: #0069d9;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profile-box {
  border: 1px solid #ccc;
  padding: 4em;
  border-radius: 2em;
}
